$text-secondary: rgba(255, 255, 255, 0.7);

.header {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 2;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
        margin: 0px;
    }
}

.metadata {
    color: $text-secondary;
    font-size: 0.9rem;
}